$bp-small: 767px !default;
$bp-medium: 992px !default;

@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (max-width: $bp-small) {
      @content;
    }
  } @else if $breakpoint == "medium" {
    @media (min-width: $bp-small) and (max-width: $bp-medium) {
      @content;
    }
  } @else if $breakpoint == "large" {
    @media (min-width: $bp-medium) {
      @content;
    }
  }
}