
.button {
  font-size: 12px;
  line-height: 18px;
  background: #e6e7e9;
  display: inline-block;
  padding: 7px 12px;
  color: #000000;
  border: none;
  outline: none;
  text-align: center;

  &, &:visited, &:active, &:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  &:hover {
    background: #d4d5d9;
  }

  &.action {
    background: #fdbe0f;
    &:hover {
      background: darken(#fdbe0f, 4%);
    }
  }
}