%h2 {
  color: #018da8;
  font-size: 29px;
  font-weight: bold;
  margin-bottom: 14px;
}

.card-wrapper {
  display: table;
  height: 100%;
  width: 100%;
  .card-container {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;

    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;

    .card {
      margin: auto;
      overflow: hidden;
      -webkit-transition: 0.6s;
      -webkit-transform-style: preserve-3d;
      -ms-transition: 0.6s;
      -moz-transition: 0.6s;
      -moz-transform: perspective(1000px);
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transition: 0.4s;
      transform-style: preserve-3d;
      position: relative;

      -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color=#000000)"; /*IE 8*/
      -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4); /*FF 3.5+*/
      -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4); /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
      box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4); /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
      filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=#000000); /*IE 5.5-7*/

      &, .front, .back {
        max-width: 680px;
        z-index: 1;
        @include respond-to('medium') {
          height: 210px;
        }

        @include respond-to('large') {
          height: 210px;
        }
      }

      .front, .back {
        -webkit-backface-visibility: hidden;
        backface-visibility:hidden;
        top: 0;
        left: 0;
        transition: 1.2s;
        transform-style: preserve-3d;
        z-index: 1;
        position: absolute;
      }

      .front {
        z-index: 2;
        .ribbon {
          color: #000;
          background: #fdbd13;
          text-align: center;
          position: absolute;
          top: 15px;
          right: -60px;
          line-height: 50px;
          width: 200px;
          letter-spacing: 1px;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          font-size: 24px;
          font-weight: bold;
          font-family: Arial;

          -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=0, Color=#000000)"; /*IE 8*/
          -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); /*FF 3.5+*/
          -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
          filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#000000); /*IE 5.5-7*/
        }
        .block-image {
          width: 255px;
          float: left;
          height: 210px;

          @include respond-to('small') {
            width: 100%;
            text-align: center;
            background: #d4d5d9;
            float: none;
          }

        }
        .block-description {
          width: 425px;
          float: left;
          @include respond-to('small') {
            float: none;
            width: 100%;
          }
          .content {
            padding: 16px;
            h1 {
              font-size: 18px;
              color: #018da8;
            }
            h2 {
              @extend %h2;
            }


            p {
              padding: 3px 0;
            }

            .buttons {
              margin: 10px 0px 0;
              &:after {
                content: '';
                display: block;
                clear: both;
              }
              text-align: center;
              .button {
                display: inline-block;
                float: left;
                width: 26%;
                text-align: center;
                margin-left: 7px;

                @include respond-to('small') {
                  width: 43%;
                  margin: 0;
                  float: right;
                }
                &:nth-child(2) {
                  margin-left: 0;
                  @include respond-to('small') {
                    float: left;
                  }
                }
              }
              .action {
                float: right;
                @include respond-to('small') {
                  float: none;
                  width: auto;
                  display: block;
                  margin: 0;
                  margin-bottom: 10px;
                }
              }
            }
          }
        }
      }
      .back {
        padding: 16px;

        h2 {
          @extend %h2;
          font-size: 22px;
        }

        .content {
          height: 85px;
          overflow: auto;
          font-size: 14px;
          line-height: 16px;
          padding-top: 5px;
        }
        .buttons{
          padding: 28px 0 0;
        }

        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        transform: rotateY(180deg);

      }
      &.active {
        .back {
          -webkit-transform: rotateY(0deg);
          -moz-transform: rotateY(0deg);
          -o-transform: rotateY(0deg);
          -ms-transform: rotateY(0deg);
          transform: rotateY(0deg);
        }

        .front {
          -webkit-transform: rotateY(180deg);
          -moz-transform: rotateY(180deg);
          -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
        }
      }
      @include respond-to('small') {
        margin: 0 auto;
        height:495px;
        width: 412px;
        &.active{
          height: 218px;
        }
      }
    }
  }
}
.rotate{
  &:before{
    background: url('./rotate.png') no-repeat center center;
    width: 16px;
    height: 13px;
    display: inline-block;
    content: ' ';

    margin-right: 6px;
  }
}
strong {
  font-weight: bold;
}