@import 'mixins/respond-to';
@import 'mixins/cols';

.row{
  > .cols {
    @for $i from 1 through 12 {
      // .col#{$i} { @include col($i);  }
      @each $size in small, medium, large {
        @include respond-to($size) {
          > .#{$size}-#{$i} { @include col($i);  }
        }
      }
    }
  }
}